

body {
  background-color: #292c2e;
}



  
/* body { */
/*   background-color: powderblue; */
/* } */


/*.text_white {
color: white;

} */



h1 {
  color: white;
  font-family: IBM Plex Mono, Regular;
  word-wrap: break-word;
  line-height: 1.6;
  padding-left: 2.5rem; /* idk what 40px is in rem so*/
  margin-top: 25px; 
  /*height: 34px    liek idk oml what happened to the cpu again;*/
  font-size: 2.6rem;
}


  
p {
  color: white;
  font-family: IBM Plex Mono, Regular;
  word-wrap: break-word;
  line-height: 1.6;
  padding-left: 40px; 

}


a {
  font-size: 15px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 2px;
  margin-bottom: 54px;
  color: rgb(255, 252, 252);

  
}
  

.header {
  margin-bottom: 0px;
  height: 56px;
  font-size: 22px;
}

  /*
.text {
  margin: 2px;
  line-height: 1;
}
*/

.section_header {
  font-size: 25px;
  margin-top: 21px;
  margin-bottom: 11px;
}

  
.small_text {
  font-size: 15px;
  padding-top: 0px;
  margin-top: 14px;
  margin-left: 2px;
  margin-bottom: 14px;
  color: rgb(185, 185, 185);
/*   line-height: 1.2; */
}



.proj_text{
/*   font-size: 17.5px; */
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.proj_small_text {
  font-size: 12.7px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px; 
  padding-top: 0px;
/*   padding: 0px; */
  color: gray;
  
/*   line-height: 1.2; */
}
  

  

.hr_divider {
  margin-left: 20px;
  margin-right: auto;
  color: white;
  /*width: 500px; */
}

.hr_small {
  margin-left: 20px;
  width:50%;
  border: 1px solid grey;
}





.small_icon {
  width: 27px;
  height: 27px;
  stroke-width: 1px;
  color: white;
  margin-left: 34.7px;
  padding-top: 0px;
  float: left;
  
} 


.skill_text {
  margin-left: 30px;
  padding-top: 0.3%;

}

.contact {
  font-size: 15px;
  padding-bottom: 1%;
  margin-bottom: 2%;
  color: rgb(185, 185, 185);
  margin-left: 0px;
  padding-top: 0.8%;
  color: white;
  font-family: IBM Plex Mono, Regular;
  word-wrap: break-word;
  line-height: 1.6;
  padding-left: 40px; 
}

  

.accordion { 
  background-color: #2E2929;
  font-family: IBM Plex Mono, Regular;
  word-wrap: break-word;
  line-height: 1.6rem;
  color: white;
  /*padding-left: 40px; */
}
  
