
body {
    background-color: #292c2e;
    margin-right: 30px;
  }
  
  
  
    
  /* body { */
  /*   background-color: powderblue; */
  /* } */
  
  
  /*.text_white {
  color: white;
  
  } */
  .subheading{
    font-size: 1.10rem;
  }
  
  @media screen and (max-width: 600px) {
    .nameheader {
      padding-top: 0px;
      word-wrap:none;
    }
    .clock {
        margin-top: 20px;
        padding-top: 50px;
    }
    .row {
      display:block;
    }
  }
  
  
  .nameheader {
    color: white;
    font-family: IBM Plex Mono, Regular;
    word-wrap: break-word;
    line-height: 1.6;
    padding-top: 0px;
    margin-top: 20px;
    padding-left: 2.5rem; /* idk what 40px is in rem so*/
    /*height: 34px    liek idk oml what happened to the cpu again;*/
    font-size: 3.1rem;
  }
  
  
    
  p {
    color: white;
    font-family: IBM Plex Mono, Regular;
    word-wrap: break-word;
    line-height: 1.6;
    font-size: 1.03em;
    padding-left: 40px; 
  
  }
  
  
  a {
    font-size: 17px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 2px;
    margin-bottom: 54px;
    color: rgb(255, 252, 252);
  
    
  }
    
  
  .header {
    
    margin-top: 20px;
    margin-bottom: 35px;
    height: 60px;
    font-size: 22px;
  }
  
    /*
  .text {
    margin: 2px;
    line-height: 1;
  }
  */
  
  .section_header {
    font-size: 30px;
    margin-top: 21px;
    margin-bottom: 11px;
  }
  
    
  .small_text {
    font-size: 15px;
    padding-top: 0px;
    margin-top: 14px;
    margin-left: 2px;
    margin-bottom: 14px;
    color: rgb(185, 185, 185);
  /*   line-height: 1.2; */
  }

  .clock {
    font-size: 16px;
    padding-top: 0px;
    margin-top: 14px;
    margin-left: 2px;
    margin-bottom: 14px;
    color: rgb(185, 185, 185);
  }
  
  
  .p_text{
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-left: 28px;
    padding-left: 0px;
    text-decoration: none;
  }
  .proj_text{
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: auto;
  }
  
  .proj_small_text {
    font-size: 13.7px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px; 
    padding-top: 0px;
  /*   padding: 0px; */
    color: gray;
    
  /*   line-height: 1.2; */
  }
    
  
    hr{
        color:grey
    }
  
  .hr_divider {
    margin-left: 20px;
    margin-top: 12px;
    border: 1px solid rgb(168, 167, 167);
    /*width: 500px; */
  }
  
  .hr_small {
    margin-left: 20px;
    /* width:94vw; */
    border: 1px solid rgb(86, 86, 86);
  }
  
  
  .top_icon {
      width: 37px;
      height: 37px;
      stroke-width: 1.5px;
      color: white;
      padding-top: 41px;
      padding-right: 30px;
      float: right;
      
    
  }
  
  
  .small_icon {
    width: 27px;
    height: 27px;
    stroke-width: 1px;
    color: white;
    margin-left: 34.7px;
    padding-top: 0px;
    float: left;
    
  } 

  .picon {
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    color: white;
    padding-right: 0px;
    margin-right: 0px;
    padding-top: 2px;
    float: left;
    
  } 
  
  
  .skill_text {
    margin-left: 30px;
    
  
  }
  
  .contact {
    font-size: 15px;
    padding-bottom: 1%;
    margin-bottom: 2%;
    color: rgb(185, 185, 185);
    margin-left: 0px;
    padding-top: 0.8%;
    color: white;
    font-family: IBM Plex Mono, Regular;
    word-wrap: break-word;
    line-height: 1.6;
    padding-left: 17px; 
  }
  
    
  
  .accordion { 
    background-color: #2E2929;
    font-family: IBM Plex Mono, Regular;
    word-wrap: break-word;
    line-height: 1.6rem;
    color: white;
    /*padding-left: 40px; */
  }
    
